
 

    <div class="row">
      <ul class="movies" *ngFor="let movie of movies">
        <div class="col-sm" >
            <div class="card h-100" style="width: 20rem;">
                <div class="card-block" >
                    <img src="{{ movie.Poster }}" class="card-img">
                    <h4 class="card-title">{{movie.Title}}</h4>
                    <p class="card-text">Anno: {{movie.Year}}</p>
                    <p class="card-text">imdbID: {{movie.imdbID}}</p>
                    <p class="card-text">Tipo: {{movie.Type}}</p>
                    <a routerLink="/detail-movie/{{movie.imdbID}}" class="btn btn-primary">Details</a>
                    
                </div>
            </div>
        </div>
      </ul>
    </div>
    