
 

    <div class="row">
      <ul class="movies" *ngFor="let movie of movies">
        <div class="col-sm" >
            <div class="card h-100" style="width: 18rem;">
                <div class="card-block" >
                    <img src="{{ movie.poster }}" class="card-img">
                    <h4 class="card-title">{{movie.title}}</h4>
                    <p class="card-text">Anno: {{movie.year}}</p>
                    <p class="card-text">imdbID: {{movie.imdbID}}</p>
                    <p class="card-text">Tipo: {{movie.type}}</p>
                    <button>mostra dettagli</button>
                </div>
            </div>
        </div>
      </ul>
    </div>
    