

  <ul class="list-group">
    <li class="list-group-item">Title:{{movie.Title}}</li>
    <li class="list-group-item">Year:{{movie.Year}}</li>
    <li class="list-group-item">{{movie.Rated}}</li>
    <li class="list-group-item">{{movie.Released}}</li>
    <li class="list-group-item">{{movie.Runtime}}</li>
    <li class="list-group-item">{{movie.Genre}}</li>
    <li class="list-group-item">{{movie.Director}}</li>
    <li class="list-group-item">{{movie.Writer}}</li>
    <li class="list-group-item">{{movie.Actors}}</li>
    <li class="list-group-item">{{movie.Plot}}</li>
    <li class="list-group-item">{{movie.Language}}</li>
    <li class="list-group-item">{{movie.Country}}</li>
    <li class="list-group-item">{{movie.Awards}}</li>
  </ul>

 