<p>detail-movie works!</p>
<ul class="list-group" *ngFor="let detail of details">
    <li class="list-group-item">Titolo: {{detail.title}}</li>
    <li class="list-group-item">Anno: {{detail.year}}</li>
    <li class="list-group-item">Rated: {{detail.rated}}</li>
    <li class="list-group-item">{{detail.released}}</li>
    <li class="list-group-item">{{detail.runtime}}</li>
    <li class="list-group-item">{{detail.genre}}</li>
    <li class="list-group-item">{{detail.director}}</li>
    <li class="list-group-item">{{detail.writer}}</li>
    <li class="list-group-item">{{detail.plot}}</li>
    <li class="list-group-item">{{detail.language}}</li>
    <li class="list-group-item">{{detail.country}}</li>
    <li class="list-group-item">{{detail.awards}}</li>
    <li class="list-group-item">{{detail.poster}}</li>
  </ul>
 